canvas {
        position: absolute;
        top : 0px;
        left : 0px;
      }
    body {
          margin : 0px;

      }
    .all {
        height: 100%;
        width: 100%;
        font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        font-size : 18px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background: -moz-linear-gradient(top, #000 0%, #023 41%, #247 100%);
        background: -webkit-linear-gradient(top, #000 0%,#023 41%,#247 100%);
        background: linear-gradient(to bottom, #000 0%,#023 41%,#247 100%);
        background-image: url('background.png');
        background-position: center;
        background-blend-mode: all;flex: 
        }
        #canvas{
            width: 70%;
            height: 70%;
            left: 510px;
            top: 180px;
            bottom: 100px;
        }